<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Capgemini IP Nuget Packages" value="https://capgeminiuk.pkgs.visualstudio.com/DefaultCollection"/>
  </packageSources>
  <disabledPackageSources />
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositoryPath" value="packages" />
    <add key="dependencyVersion" value="Lowest" />
  </config>
  <packageSourceCredentials>
    <Capgemini_x0020_IP__x0020_Nuget_x0020_Packages>
      <add key="Username" value ="adam.quill@capgemini.com"/>
      <add key="ClearTextPassword" value="nv4mrf5g27nm3vokmeaxwhjiufx2gi7stfoanowwxns3lvor6tga"/>
    </Capgemini_x0020_IP__x0020_Nuget_x0020_Packages>
  <packageSourceCredentials>
</configuration>