<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="out" value="./WebResources/Scripts/src/types" />
    <add key="oneFile" value="false" />
    <add key="solutions" value="DefraImportsCore" />
    <add key="web" value="WebApi" />
    <add key="crmVersion" value="9.1"/>
    <add key="entities" value="defraimp_importinspection" />
    <add key="jsLib" value="./WebResources/Scripts/dist/lib"/>
  </appSettings>
</configuration>